<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Store</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="branch">Name</label>
              <input type="text" class="form-control" id="branch" placeholder="Enter your store name">
            </div>
            <div class="form-group col-sm-6">
              <label for="code">Code</label>
              <input type="text" class="form-control" id="code" placeholder="Enter store code">
            </div>
          </div> <!-- row -->
          <div class="row">
            <div class="form-group col-sm-9">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
            <div class="form-group col-sm-3">
                <label for="postal-code">Postal Code</label>
                <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
              </div>
            </div> <!-- row -->
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter your city">
              </div>
              <div class="form-group col-sm-4">
                <label for="region">Region</label>
                <input type="text" class="form-control" id="city" placeholder="Enter your region">
              </div>
             <div class="form-group col-sm-4">
               <label for="country">Country</label>
               <input type="text" class="form-control" id="country" placeholder="country">
             </div>
            </div> <!-- row -->      
            <div class="row"> 
            <div class="form-group col-sm-12">
              <label for="details">Other Store Details</label>
              <textarea class="form-control" rows="4" id="details"></textarea>
           </div>
           </div> <!-- row -->
          </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
        </div>
      </div>
    </div><!--/.col-->
  </div>



  <div class="row">

    <div class="col-sm-4"> <!--Opening times -->
        <div class="card">
          <div class="card-header">
              <strong>Opening Times</strong>
          </div>
          <div class="card-body">
          </div>
          <div class="card-footer">
          </div>
        </div>
    </div>
    <div class="col-sm-8"> <!-- Map/Location -->
      <div class="card">
        <div class="card-header">
            <strong>Store Location</strong>
          </div>
          <div class="card-body">
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div> <!-- card --> 
  </div> <!-- row -->
</div>
